In [94]:
import pandas as pd
import numpy as np

In [128]:
iris_dataset = pd.read_csv("Dataset/iris.data", names = ["sepal-length", "sepal-width", "petal-length", 
                                                         "petal-width", "class"])

In [129]:
iris_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal-length    150 non-null float64
sepal-width     150 non-null float64
petal-length    150 non-null float64
petal-width     150 non-null float64
class           150 non-null object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [130]:
#no missing values
iris_dataset.describe()

       sepal-length  sepal-width  petal-length  petal-width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [131]:
#target(y) and features(Y)
y = iris_dataset["class"]
X = iris_dataset.drop("class", axis = 1)

In [132]:
##Scale X data for better training
from sklearn.preprocessing import LabelEncoder, MinMaxScaler, LabelBinarizer

min_max_scaler = MinMaxScaler()
X = min_max_scaler.fit_transform(X)

In [133]:
#Encoding target 
label_encoder = LabelEncoder()
y = label_encoder.fit_transform(y)

bin_encoder = LabelBinarizer()
y = bin_encoder.fit_transform(y)

classes = list(label_encoder.classes_)

print(classes)

['Iris-setosa', 'Iris-versicolor', 'Iris-virginica']

In [134]:
#split data
from sklearn.model_selection import train_test_split
train_X, test_X, train_y, test_y= train_test_split(X, y, test_size = 0.2)

In [135]:
#Define model - make a prediction - print error
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

forest_model = RandomForestRegressor(random_state=1)
forest_model.fit(train_X, train_y)
iris_class_preds = forest_model.predict(test_X)
print(mean_absolute_error(test_y, iris_class_preds))

0.04

In [136]:
#get name of prediction 
get_encoded_values = list()
for row in iris_class_preds:
    get_encoded_values.append(row.argmax())
iris_class_preds =  list(label_encoder.inverse_transform(get_encoded_values))

/home/elwis/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [137]:
prediction = pd.DataFrame(iris_class_preds, columns=["predicted classes"])

In [138]:
prediction

   predicted classes
0     Iris-virginica
1     Iris-virginica
2     Iris-virginica
3     Iris-virginica
4    Iris-versicolor
5        Iris-setosa
6    Iris-versicolor
7        Iris-setosa
8        Iris-setosa
9    Iris-versicolor
10       Iris-setosa
11       Iris-setosa
12       Iris-setosa
13   Iris-versicolor
14       Iris-setosa
15   Iris-versicolor
16   Iris-versicolor
17   Iris-versicolor
18   Iris-versicolor
19    Iris-virginica
20    Iris-virginica
21   Iris-versicolor
22       Iris-setosa
23       Iris-setosa
24    Iris-virginica
25       Iris-setosa
26       Iris-setosa
27    Iris-virginica
28   Iris-versicolor
29   Iris-versicolor