In [1]:
import pandas as pd
import numpy as np

In [45]:
loan_data_train = pd.read_csv("Dataset/train.csv")
loan_data_test = pd.read_csv("Dataset/test.csv")
loan_data_sample_sub = pd.read_csv("Dataset/sample_submission.csv")

In [46]:
loan_data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
Loan_ID              614 non-null object
Gender               601 non-null object
Married              611 non-null object
Dependents           599 non-null object
Education            614 non-null object
Self_Employed        582 non-null object
ApplicantIncome      614 non-null int64
CoapplicantIncome    614 non-null float64
LoanAmount           592 non-null float64
Loan_Amount_Term     600 non-null float64
Credit_History       564 non-null float64
Property_Area        614 non-null object
Loan_Status          614 non-null object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.4+ KB

In [47]:
threshold = 0.85
#Dropping columns with missing value rate higher than threshold
columns = loan_data_train.columns[loan_data_train.isnull().mean() > threshold]
loan_data_train = loan_data_train.drop(columns,axis=1)
loan_data_test = loan_data_test.drop(columns,axis=1)
loan_data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
Loan_ID              614 non-null object
Gender               601 non-null object
Married              611 non-null object
Dependents           599 non-null object
Education            614 non-null object
Self_Employed        582 non-null object
ApplicantIncome      614 non-null int64
CoapplicantIncome    614 non-null float64
LoanAmount           592 non-null float64
Loan_Amount_Term     600 non-null float64
Credit_History       564 non-null float64
Property_Area        614 non-null object
Loan_Status          614 non-null object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.4+ KB

In [48]:
object_columns = loan_data_train.dtypes[(loan_data_train.dtypes == "object")].index.values
object_columns = object_columns[1:7]
def imputation(columns, data, num):
    for column in columns:
        if data[column].value_counts().sum() < data["Loan_ID"].value_counts().sum():
            if num == 0:
                 #object imputation
                data[column] = data[column].fillna(data[column].value_counts().index.values[0])
            else:
                #int and float imputation
                data[column] = data[column].fillna(data[column].median())
    return data
loan_data_train = imputation(object_columns,loan_data_train, 0)
loan_data_test = imputation(object_columns,loan_data_test, 0)
loan_data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
Loan_ID              614 non-null object
Gender               614 non-null object
Married              614 non-null object
Dependents           614 non-null object
Education            614 non-null object
Self_Employed        614 non-null object
ApplicantIncome      614 non-null int64
CoapplicantIncome    614 non-null float64
LoanAmount           592 non-null float64
Loan_Amount_Term     600 non-null float64
Credit_History       564 non-null float64
Property_Area        614 non-null object
Loan_Status          614 non-null object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.4+ KB

In [49]:
numeric_columns = loan_data_train.dtypes[(loan_data_train.dtypes == "float")|
                              (loan_data_train.dtypes == "int64")].index.values
loan_data_train = imputation(numeric_columns, loan_data_train, 1)
loan_data_test = imputation(numeric_columns, loan_data_test, 1)
loan_data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
Loan_ID              614 non-null object
Gender               614 non-null object
Married              614 non-null object
Dependents           614 non-null object
Education            614 non-null object
Self_Employed        614 non-null object
ApplicantIncome      614 non-null int64
CoapplicantIncome    614 non-null float64
LoanAmount           614 non-null float64
Loan_Amount_Term     614 non-null float64
Credit_History       614 non-null float64
Property_Area        614 non-null object
Loan_Status          614 non-null object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.4+ KB

In [50]:
y = loan_data_train.Loan_Status
X = loan_data_train.drop(["Loan_Status", "Loan_ID"], axis = 1)
X_test = loan_data_test.iloc[:,1:]

In [51]:
X = pd.get_dummies(X, columns = object_columns)
X_test = pd.get_dummies(X_test, columns = object_columns)

In [52]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 20 columns):
ApplicantIncome            367 non-null int64
CoapplicantIncome          367 non-null int64
LoanAmount                 367 non-null float64
Loan_Amount_Term           367 non-null float64
Credit_History             367 non-null float64
Gender_Female              367 non-null uint8
Gender_Male                367 non-null uint8
Married_No                 367 non-null uint8
Married_Yes                367 non-null uint8
Dependents_0               367 non-null uint8
Dependents_1               367 non-null uint8
Dependents_2               367 non-null uint8
Dependents_3+              367 non-null uint8
Education_Graduate         367 non-null uint8
Education_Not Graduate     367 non-null uint8
Self_Employed_No           367 non-null uint8
Self_Employed_Yes          367 non-null uint8
Property_Area_Rural        367 non-null uint8
Property_Area_Semiurban    367 non-null uint8
Property_Area_Urban        367 non-null uint8
dtypes: float64(3), int64(2), uint8(15)
memory usage: 19.8 KB

In [53]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 20 columns):
ApplicantIncome            614 non-null int64
CoapplicantIncome          614 non-null float64
LoanAmount                 614 non-null float64
Loan_Amount_Term           614 non-null float64
Credit_History             614 non-null float64
Gender_Female              614 non-null uint8
Gender_Male                614 non-null uint8
Married_No                 614 non-null uint8
Married_Yes                614 non-null uint8
Dependents_0               614 non-null uint8
Dependents_1               614 non-null uint8
Dependents_2               614 non-null uint8
Dependents_3+              614 non-null uint8
Education_Graduate         614 non-null uint8
Education_Not Graduate     614 non-null uint8
Self_Employed_No           614 non-null uint8
Self_Employed_Yes          614 non-null uint8
Property_Area_Rural        614 non-null uint8
Property_Area_Semiurban    614 non-null uint8
Property_Area_Urban        614 non-null uint8
dtypes: float64(4), int64(1), uint8(15)
memory usage: 33.1 KB

In [54]:
X = X.drop(["Gender_Female", "Married_No" , "Education_Not Graduate", "Self_Employed_No"], axis = 1)
X_test = X_test.drop(["Gender_Female", "Married_No" , "Education_Not Graduate", "Self_Employed_No"], axis = 1)

In [55]:
##Scale X data for better training
from sklearn.preprocessing import LabelEncoder, MinMaxScaler, LabelBinarizer

#Encoding target 
label_encoder = LabelEncoder()
y = label_encoder.fit_transform(y)

bin_encoder = LabelBinarizer()
y = bin_encoder.fit_transform(y)

classes = list(label_encoder.classes_)

print(classes)

['N', 'Y']

In [56]:
from sklearn.model_selection import train_test_split
train_X, val_X, train_y, val_y= train_test_split(X, y, test_size = 0.2)

In [74]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

forest_model = RandomForestRegressor(random_state=1)
forest_model.fit(train_X, train_y)
val_prediction = forest_model.predict(val_X)
print(mean_absolute_error(val_y, val_prediction))

/home/elwis/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

0.3026617238639092

In [58]:
prediction = forest_model.predict(X_test)

In [59]:
result =[]
for val in prediction:
    if val <= 0.5:
        result.append(0)
    else:
        result.append(1)
raw_data = {'Loan_ID' : loan_data_sample_sub["Loan_ID"],
            'Loan_Status' : result}
result_ = pd.DataFrame(raw_data)
result_.head()

    Loan_ID  Loan_Status
0  LP001015            1
1  LP001022            1
2  LP001031            1
3  LP001035            1
4  LP001051            0

In [66]:
result_["Loan_Status"] = np.where(result_.Loan_Status ==1,"Y","N")
result_.to_csv("submission.csv",index=False)