In [1]:
import pandas as pd
import numpy as np

In [2]:
train_data =  pd.read_csv("Dataset/Train.csv")
test_data = pd.read_csv("Dataset/Test.csv")
sample_sub = pd.read_csv("Dataset/Sample_Submission.csv")

In [3]:
print("train shape:", train_data.shape)
print("test shape:", test_data.shape)

train shape: (18288, 3)
test shape: (5112, 2)

In [7]:
train_data.head()

   ID          Datetime  Count
0   0  25-08-2012 00:00      8
1   1  25-08-2012 01:00      2
2   2  25-08-2012 02:00      6
3   3  25-08-2012 03:00      2
4   4  25-08-2012 04:00      2

In [5]:
test_data.head()

      ID          Datetime
0  18288  26-09-2014 00:00
1  18289  26-09-2014 01:00
2  18290  26-09-2014 02:00
3  18291  26-09-2014 03:00
4  18292  26-09-2014 04:00

In [9]:
train_ = train_data.pivot_table(index=['ID'], columns='Datetime',values='Count',fill_value=0).reset_index()
#database = fusion(test et train)
database = pd.merge(test_data,train_,on=['ID'], how='left').fillna(0)

MemoryError: